:root {
  --header-color: #212121;
  --desc-color: #757575;
  --accent-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);

  --white-color: #ffffff;
  --black-color: #000000;
  --bgr-primary-color: #f5f4fa;
  --bgr-secondary-color: #2f303a;

  --border-color: #eeeeee;
  --header-border-color: #ececec;

  --icon-color: #afb1b8;
  --card-set-gap: 30px;
}
/* Reset styles */
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
}
address {
  font-style: normal;
}

/* Global style */
body {
  background-color: var(--white-color);
  color: var(--desc-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
h2,
h3 {
  color: var(--header-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* heder */
.header-main {
  border-bottom: 1px solid var(--header-border-color);
}
.container.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-footer {
  color: var(--white-color);
}
.logo span {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  margin-left: 93px;
}
.nav-li-item {
  position: relative;
}
.nav-li-item:not(:last-child),
.contacts-li-item:not(:last-child) {
  margin-right: 50px;
}
.nav-item {
  display: block;
  padding: 32px 0;

  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item.current,
.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}
.nav-item.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-item {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon {
  margin-right: 10px;

  fill: currentColor;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}

/* Main studio */
/* Hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  background-color: var(--bgr-secondary-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
}

/* Features */
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: 270px;
}
.features-card {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--bgr-primary-color);
  border-radius: 4px;
}
.features-subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-desc {
  font-size: 14px;
  line-height: 1.71;
}

/* What we do */
.section.wedo {
  padding-top: 0;
}
.wedo-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.wedo-list {
  display: flex;
  justify-content: space-between;
}
.wedo-thumb {
  position: relative;
}

.wedo-subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */
.team {
  text-align: center;
  background-color: var(--bgr-primary-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-team-text {
  padding: 30px 0;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.team-desc {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
}
.social-icon-list {
  display: flex;
  justify-content: center;
}
.social-icon-item:not(:last-child) {
  margin-right: 10px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
}
.team-social {
  fill: var(--icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social:hover,
.team-social:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}
/* Regular clients */
.client-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.client-list {
  display: inline-flex;
}
.client-item {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
}
.client-link {
  padding: 16px 32px;
}
.client-item {
  width: 170px;
  height: 92px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-item:hover .client-link,
.client-link:focus {
  fill: var(--accent-color);
}
.client-item:hover,
.client-item:focus {
  border-color: var(--accent-color);
}

/* Main Portfolio */
.container.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--header-color);
  background-color: var(--bgr-primary-color);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.preview-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.preview-item {
  width: 370px;

  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.preview-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-preview-text {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: 0;
}
.preview-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.preview-desc {
  font-size: 16px;
  line-height: 1.88;
}
.preview-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.preview-link:hover .preview-decr-overlay {
  transform: translateY(0);
}
.preview-thumb {
  position: relative;
  overflow: hidden;
}
.preview-decr-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
}

/* Modal window */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 6px;
  max-width: 30px;
  max-height: 30px;

  background: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-size: 20px;
  text-align: center;
}

.order-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--desc-color);
}

.form-field {
  margin-bottom: 10px;
}
.form-field-input {
  position: relative;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;

  background-color: var(--white-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.form-field-input:hover .modal-icon,
.form-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}
.order-textarea {
  display: block;
  resize: none;

  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  background-color: var(--white-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-textarea:hover,
.order-textarea:focus {
  border-color: var(--accent-color);
}
.form-privacy {
  margin-bottom: 30px;
}

.order-privacy-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.71;
}
.order-privacy-link {
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}
.order-privacy-imput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  background-image: url(../images/icon-uncheck.svg);
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;

  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-privacy-imput:checked + .icon-checkbox {
  background-image: url(../images/icon-check.svg);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 10px 55px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.modal-btn:focus {
}

/* Footer */
footer {
  padding: 60px 0;
  background-color: var(--bgr-secondary-color);
}
.container.footer {
  display: flex;
  align-items: baseline;
}
.address-logo-footer {
  margin-right: 70px;
}
.address-list {
  margin-top: 20px;
}
.address-li-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-item.location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}
.address-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--address-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
}

.title-links-footer {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
.footer-social {
  fill: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social:hover,
.footer-social:focus {
  background-color: var(--accent-color);
}

.newsletter-footer {
  margin-left: auto;
}
.newsletter-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
}

.newsletter-form {
  display: flex;
}
.newsletter-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-input:hover,
.newsletter-input:focus {
  border-color: var(--accent-color);
}

.newsletter-btn {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}
.newsletter-btn-icon {
  margin-left: 10px;
  fill: var(--white-color);
}
.newsletter-btn:focus {
}
